= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg
  %form
    .form-group
      = f.label :name
      %br/
      = f.text_field :name, :class => "form-control"
    .form-group
      = f.label :price
      %br/
      = f.text_field :price, :class => "form-control"

    .form-group
      = f.label :category_id
      %br/
      = f.collection_select( :category_id, Category.order(:name), :id, :name, {prompt: ""}, {class: "form-control"})
    .form-check
      = f.check_box :discontinued, :class => "form-check-input"
      = f.label :discontinued
    .mt-3
    .actions
      = f.submit :class => "btn btn-primary"
